/*
colour palette for the site:
#011638
#364156
#CDCDCD
#DFF8EB
#214E34
*/

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    text-align: center;
    background-color: #cdcdcd;
    padding: 20px auto;
    
}

.logo {
    width: 10%;  
}

body {
    background-color: #011638;
}
